{% extends 'layout.html.twig' %}

{% block body %}
{{ parent() }}
<h2>Lista de Usuarios</h2>
<br/>
<table border="1">
	<tr>
		<td>Usuario</td>
		<td>Nombre Usuario</td>
	</tr>
	{% for usuarioIter in usuariosList %}
		<tr>
			<td>{{ usuarioIter.usuario }}</td>
			<td>{{ usuarioIter.nombreUsuario }}</td>
		</tr>
	{% endfor%}
</table>

{% endblock %}